---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Sobre mí et vínculos hoc est"
	pubDate={new Date('August 07 2025')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>
		Tyler Jackson, of 30 years within the state of New Mexico within the United States of North America. 
		Tyler has had multiple years of expeience from work, life, and spirit that are used to make the 
		driving decisions. Work is a driving force that keeps the spirit moving forward so life can continue. 
		The spirit has had many expeiences that allow for growth beyond a singluarity. Life has been shown 
		to have many different outlooks. 
	</p>

	<p>
		Tyler Jackson, de triginta annos intra el estado de Nuevo México, intra los Estados Unidos de 
		América Septentrional. Tyler habet multos annos de experientia ex labore, vita, et spiritu, 
		quae ad decisiones regendas adhibentur. Labor est vis motrix quae spiritum semper ad futurum 
		impellit, ut vita pergere possit. Spiritus multas experientias habuit quae crescere ultra 
		singularitatem permittunt. Vita monstravit multos diversos prospectus.
	</p>

	<p>
		Southwest, Texas, NewMexico, Arizona
	</p>

	<p>
		Suro-West-Austro-Occidens, Texas, Nuevo México, Arizona
	</p>

</Layout>
